.jumbotron{
  width:600px; 
  text-align:center;
  margin: auto;
  margin-top:10px;
}
.table{
  margin-top:10px;
}
.form-control{
  margin-top:10px;    			
}
.selecionado{
  background-color: #66FFFF;
}
.btn{
  margin-top:10px;
}